[submodule "Runtime/Asset/External/xxhash"]
	path = Runtime/Asset/External/xxhash
	url = git@github.com:stbrumme/xxhash.git
[submodule "Runtime/ProgramModule/External/llvm-jit-pdb"]
	path = Runtime/ProgramModule/External/llvm-jit-pdb
	url = git@github.com:YukinoHayakawa/llvm-jit-pdb.git
[submodule "Runtime/HeapManager/External/xxhash"]
	path = Runtime/HeapManager/External/xxhash
	url = git@github.com:stbrumme/xxhash.git
[submodule "Scripting/Quirrel/quirrel"]
	path = Scripting/Quirrel/quirrel
	url = git@github.com:GaijinEntertainment/quirrel.git
